/* ================================ Підключення шрифтів =========================================================== */
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* ================================ Основні стилі ================================================================= */
body {
    font-family: 'Lato', sans-serif;
    color: #424551;
    padding: 0 10px;
}
.container {
    max-width: 810px;
    margin: 0 auto;
    padding: 32px 0 92px;
}
.main-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 98px;
}
.container img {
    max-width: 100%;
    margin-bottom: 60px;
    border-radius: 4px;
}
.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}
.text {
    font-size: 16px;
    line-height: 160%;
}
.first-text {
    margin-bottom: 28px;
}
.second-text {
    margin-bottom: 48px;
}
.comment {
    padding-left: 58px;
    margin-bottom: 48px;
}
.bold-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}
.list-header {
    margin-bottom: 24px;
}
.list {
    margin-bottom: 24px;
    padding-left: 32px;
}
.list li {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}
.last-list-item {
    margin-bottom: 0px;
}
/* ================================ Проробка властивостей ================================================================= */
.first-item {
    width: 300px;
    height: 200px;
    background-color: indianred;
    font-weight: 900;
    font-size: 40px;
    margin: 0 0 40px auto;
    text-align: center;
    padding-top: 80px;
}
.long-text {
    background-color: rgb(71, 162, 71);
    font-weight: 700;
    font-size: 30px;
    color: antiquewhite;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.overflow-text {
    white-space: nowrap;
    max-width: 500px;
    padding: 30px;
    border: 2px solid lightseagreen;
    margin: 0 0 0 auto;
    overflow: hidden;
    font-weight: 900;
    color: lightseagreen;
    margin-bottom: 40px;
}
.very-long-text {
    max-width: 500px;
    padding: 30px;
    max-height: 200px;
    background-color: rgb(160, 124, 193);
    overflow: scroll;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 40px 30px;
}
.block-span {
    background-color: rgb(125, 125, 187);
    display: block;
    color: #fff;
    margin: 0 20px 40px;
    padding: 30px;
    border-radius: 20px;
}
.none {
    background-color: red;
    display: none;
}
.space {
    font-size: 0px;
    margin-bottom: 40px;
    text-align: center;
}
.space-span {
    border: 1px dashed tomato;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
}
.shadow-box {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 47% 53% 69% 31% / 29% 20% 80% 71%;
    overflow: hidden;
    color: rgb(108, 198, 168);
    box-shadow: 5px 5px 100px 5px aqua;
    margin-bottom: 100px;
}
.shadow-box span {
    color: red;
    font-weight: 900;
    visibility: hidden;
}
.button {
    display: inline-block;
	background-color: #8b4121;
	padding: 10px 40px;
	color: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 0 rgb(64, 28, 28);
	transition: all 0.3s ease 0s;
    margin: 0 0 30px 50px;
}
.button:hover{
    margin: 3px 3px 30px 50px;
    box-shadow: 1px 1px 0 rgb(64, 28, 28);
}